<nav class="navbar page-block">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <span>Stephen Strasburg</span> <i>Washington Nationals</i>
      </div>
    </div>
  </div>
</nav>
