<!-- Side navigation -->
<div class="sidenav">
  <div class="sidebar-player-photo">
    <img class="player-photo" src="https://securea.mlb.com/mlb/images/players/head_shot/544931.jpg">
  </div>
  <a>Overview</a>
  <a>Reports</a>
  <a>Games</a>
  <a class="active"><b>Trends</b></a>
  <a>Contracts</a>
  <a>Transactions</a>
  <a>Pitches</a>
</div>
