<div class="sidenav">
  <div class="sidebar-player-photo">
    <img class="player-photo" src="https://securea.mlb.com/mlb/images/players/head_shot/544931.jpg">
  </div>
  <ul class="list-group">
    <li class="">Overview</li>
    <li class="">Notes</li>
    <li class="">Reports</li>
    <li class="">Games</li>
    <li class="">Projections</li>
    <li class="">Contracts</li>
    <li class="">Transactions</li>
    <li class="">Splits</li>
    <li class="active">Trends</li>
  </ul>
</div>
