<div id="velo-container" class="page-block margin-bottom-small">
  <h4 class="thin-type-header">Pitch Velocity By Appearance</h4>
  <br>
  <canvas id="velo-chart">
  </canvas>
</div>

<div id="height-container" class="page-block margin-bottom-small">
  <h4 class="thin-type-header">Pitch Release Height By Appearance</h4>
  <br>
  <canvas id="height-chart">
  </canvas>
</div>

<div id="extension-container" class="page-block margin-bottom-small">
  <h4 class="thin-type-header">Pitch Extension By Appearance</h4>
  <br>
  <canvas id="extension-chart">
  </canvas>
</div>

<div id="spin-container" class="page-block margin-bottom-small">
  <h4 class="thin-type-header">Pitch Spin Rate By Appearance</h4>
  <br>
  <canvas id="spin-chart">
  </canvas>
</div>

<div id="hbreak-container" class="page-block margin-bottom-small">
  <h4 class="thin-type-header">Pitch Horizontal Break By Appearance</h4>
  <br>
  <canvas id="hbreak-chart">
  </canvas>
</div>

<div id="vbreak-container" class="page-block margin-bottom-small">
  <h4 class="thin-type-header">Pitch Induced Vertical Break By Appearance</h4>
  <br>
  <canvas id="vbreak-chart">
  </canvas>
</div>

<div id="axis-container" class="page-block margin-bottom-small">
  <h4 class="thin-type-header">Pitch Spin Axis By Appearance</h4>
  <br>
  <canvas id="axis-chart">
  </canvas>
</div>
</div>
