<div class="row margin-top-large">
  <div id="sidebar" class="col-md-2">
    <%= render 'shared/sidebar' %>
  </div>
  <div class="col-md-10">
    <%= render 'last_five_lines' %>

    <div class="trends-wrapper" data-player-id="<%= @player.id %>">
      <%= render 'trends_charts' %>
  </div>
</div>
